@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

  body {
    font-size: 16px;
    width: 70%;
    margin-top: 5%;
    margin-left: 20%;
    background-image: url('fundo.jpg');
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    font-family: 'Rethink Sans', sans-serif;
    text-align: center;
    color: #f3dbf3;
  }

  h4,
  p {
    color: white;
  }

  .sticky {
    flex-wrap: wrap;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    color: white;
  }

  .sticky:hover {
    transform: scale(1.1);
  }

  .botao-concluir {
    padding: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    background-color: #27ae60;
    width: 100%;
  }

  #Formulario {
    width: 30%;
  }

  label {
    font-family: 'Rethink Sans', sans-serif;
  }

  .input {
    position: relative;
    margin-bottom: 25px;
  }

  .input input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #c5c5c54f;
    outline: 0;
    font-size: 16px;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .input input::placeholder {
    color: transparent;
  }

  .input label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
  }

  .input input:required:invalid+label {
    color: #d3d3d3;
  }

  .input input:focus,
  .input input:valid {
    border-bottom: 2px solid #f3dbf3;
  }

  .input input:focus+label,
  .input input:valid+label {
    font-size: 14px;
    color: #f3dbf3;
    transform: translateY(-30px);
  }

  .botao {
    font-family: 'Rethink Sans', sans-serif;
    display: inline-block;
    font-weight: 500;
    padding: 0.9rem 1.8rem;
    color: rgb(255, 255, 255);
    border: 3px solid #453D6C;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    overflow: hidden;
  }

  .botao::before {
    font-family: 'Rethink Sans', sans-serif;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #453D6C;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }

  .botao:hover::before {
    font-family: 'Rethink Sans', sans-serif;
    transform: translateX(0);
  }


  .botao-remover,
  .botao-editar {
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    width: 50%;
    display: inline-block;
  }

  .botao-remover {
    background-color: #e74c3c;
  }

  .botao-editar {
    background-color: #3498db;
  }


  
  